@import "../../vendor/filament/forms/dist/module.esm.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

* {
    /* outline: 2px solid red; */
}

* {
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper .item {
    min-width: 16rem;
    min-height: 10rem;
    margin-right: 1rem;
    scroll-snap-align: center;
}

.wrapper .itemsm {
    min-width: 6rem;
    margin-right: 1rem;
    scroll-snap-align: center;
}
